<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
</head>
<body class="bg-light d-flex flex-column min-vh-100">
<nav class="navbar navbar-expand-lg bg-white">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/018/886/508/small_2x/email-line-icon-png.png"
                 alt="Logo" width="30" height="24"
                 class="d-inline-block align-text-top">
            Classificador de Email</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

<div class="d-flex justify-content-center">
    <h2>
        <p>Otimize sua caixa de entrada.</p>
    </h2>
</div>

<p class="text-center">Cole o texto do seu e-mail para classificar instantaneamente a produtividade e receber uma
    sugestão de resposta</p>

<div class="container">
    <div class="card shadow-sm border-0 p-3">
        <div class="row g-5">
            <div class="col-md-6">

                <div class="mb-3">
                    <label for="emailText" class="form-label fw-bold">Cole o texto do e-mail</label>
                    <textarea class="form-control bg-light" id="emailText" rows="8"
                              placeholder="Cole o conteúdo do seu e-mail aqui..."></textarea>


                    <div class="d-grid mt-4">
                        <div id="alertContainer" class="mt-2"></div>
                        <button id="classifyBtn" class="btn btn-primary btn-lg" type="button">
                            <i class="bi bi-lightning-charge-fill"></i> Analisar E-mail
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <h6 class="fw-bold">Resultado</h6>
                <div class="d-flex justify-content-between align-items-center border rounded-3 p-2 mb-3 bg-light">
                    <span>Categoria</span>
                    <span class="badge bg-light text-success-emphasis rounded-pill d-flex align-items-center">
                        <span id="status-circle" class="p-1 bg-success rounded-circle me-1"></span>
                        <span id="status-email">Status</span>
                    </span>
                </div>

                <div class="mb-3">
                    <h6 class="fw-bold">Sugestão de Resposta</h6>
                    <div class="position-relative"> <textarea readonly class="form-control bg-light" id="suggestedReply"
                                                              rows="8"
                                                              placeholder="Sugestão de resposta aparecerá aqui..."
                                                              style="padding-right: 40px;"></textarea>

                        <button type="button" class="btn btn-light position-absolute top-0 end-0 m-2" id="copyButton"
                                title="Copiar texto">
                            <i class="bi bi-clipboard"></i>
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<footer class="mt-auto text-center">
    <div class="text-center p-3 bg-white">
        © 2025 Copyright
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
<script type="module" src="../static/script.js"></script>
</body>
</html>